body {
    background-color: black;
}
footer {
    background-color: dimgrey;
    font-size:12px;
    font-family: "Inknut Antiqua", serif;
}
article {
    color: white;
}
img {
    width: 13%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    text-align: center;
}
a {
    text-align: center;
}
p {
    color: white;
}