body {
    background-color: black;
    
}
footer {
    background-color: dimgrey;
    font-size:12px;
    font-family: "Inknut Antiqua", serif;
}
article {
    color: white;
    float: left;
    margin-right: auto;
    text-align: center;
}
aside {
    float: left;
    margin-right: auto;
    color: white;
    text-align: center;
}
img {
    width: 13%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
nav {
    text-align: center;
}
a {
    text-align: center;
    color: white;
    font-family: "Berlin Sans FB", serif;
    text-decoration: none;
}
p {
    color: white;
}
header {
    color: white;
    font-family: "Inknut Antiqua", serif;

}
#wrapper {
    width: 250px;
    height: 300px;
    margin-right: auto;
}
#wrapper2 {
    width: 250px;
    margin-left: auto;
}
h1 {
    color: white;
}
